.container {
  padding: 20rpx;
  padding-bottom: 240rpx;
  /* 增加底部间距 */
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18rpx;
  margin-bottom: 20rpx;
}

.file-item,
.add-btn {
  width: calc((100% - 40rpx) / 3);
  height: 220rpx;
  border-radius: 12rpx;
  position: relative;
  overflow: hidden;
}

.add-btn {
  border: 2rpx dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.plus {
  font-size: 48rpx;
  color: #666;
}

.preview-image {
  width: 100%;
  height: 100%;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
}

.preview-video {
  width: 100%;
  height: 100%;
}

.play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60rpx;
  text-shadow: 0 2rpx 4rpx rgba(0, 0, 0, 0.3);
}

.delete-btn {
  position: absolute;
  right: 8rpx;
  top: 8rpx;
  width: 36rpx;
  height: 36rpx;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28rpx;
}

.input,
.textarea {
  width: auto;
  background: #fff;
  border-radius: 10rpx;
  padding: 20rpx;
  font-size: 28rpx;
  margin-bottom: 30rpx;
  border: 1px solid #d6e4ef;
}


.agreement {
  position: fixed;
  bottom: 130rpx;
  left: 0;
  right: 0;
  padding: 20rpx 30rpx;
  background: #fff;
  z-index: 1;
  font-size: 26rpx;
  display: flex;
  align-items: center;
  box-shadow: 0 -2rpx 10rpx rgba(0, 0, 0, 0.05);
}

.agreement checkbox {
  margin-right: 10rpx;
  transform: scale(0.9);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30rpx;
  background: #fff;
  box-shadow: 0 -2rpx 10rpx rgba(0, 0, 0, 0.1);
}

.publish-btn {
  width: 100%;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #fff;
  padding: 16rpx 0;
  /* 减小按钮高度 */
  border-radius: 40rpx;
  /* 更圆润的按钮 */
  font-size: 28rpx;
  /* 减小字体大小 */
  line-height: 1.4;
}

.input-wrapper {
  position: relative;
  margin-bottom: 30rpx;
}

.counter {
  position: absolute;
  right: 20rpx;
  bottom: 20rpx;
  font-size: 24rpx;
  color: #999;
  background: rgba(255, 255, 255, 0.9);
  padding: 4rpx 12rpx;
  border-radius: 16rpx;
}

.input {
  padding-right: 120rpx !important;
}

checkbox-group {
  display: flex;
  align-items: center;
}

checkbox {
  margin-right: 8rpx;
}